@rendermode InteractiveServer

@using web.Lib.Logic
@using System.Text.Json
@inject IJSRuntime JS

<div class="@person.Ausbildung personen-tafel" @ref="personEl">
  <div class="personen-tafel-content">
    <h1>@person.Name</h1>
  </div>
</div>

@namespace web.Components.Modules
@code{
    [Parameter] public Person person { get; set; } = new Person();

    private ElementReference personEl;
    private IJSObjectReference? _dndModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dndModule = await JS.InvokeAsync<IJSObjectReference>("import", "/js/dnd.js");
            var payloadJson = JsonSerializer.Serialize(person);
            await _dndModule.InvokeVoidAsync("enableDrag", personEl, payloadJson);
        }
    }

}
