@inherits LayoutComponentBase
<header class="d-flex flex-wrap justify-content-center py-3 mb-4">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
    <img class="bi me-2" height="56" width="40" src="img/Wappen-Horst-Eiberg"/>
    <span class="fs-2 text-white fw-bold">Trupptafel</span>
  </a>
  <a href="/Config" class="right-link text-white text-decoration-none fs-4 fw-bold">Config</a>
</header>
<div class="page">
  @Body
</div>
