div .logged_in{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1rem;
}

div .config-container {
    width: 50vw;
    height: fit-content;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    align-self: center;
}

li {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

li input{
    margin-left: 15px;
}

li select{
    margin-left: 15px;
    margin-right: 15px;
}

.save-button {
    margin: 1rem;
    width: 10vw;
    height: 4em;
}