@page "/"
@rendermode InteractiveServer
@using web.Components.Modules
@using web.Lib.Logic

<PageTitle>TruppTafel</PageTitle>

@if (isLoaded)
{
    <div class="d-flex flex-column fahrzeug-halter">
        <div class="d-flex flex-row justify-content-center">
            @foreach (var fahrzeug in fahrzeuge)
            {
                <FahrzeugTabelle @key="fahrzeug.Id" fahrzeug="fahrzeug"/>
            }
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            @foreach (var person in personen)
            {
                <PersonenTafel @key="person.Id" person="person"/>
            }
        </div>
    </div>
}


@code {
    private List<Person> personen = new();
    private List<Fahrzeug> fahrzeuge = new();
    private bool isLoaded = false;

    protected override void OnInitialized()
    {
        LoadData();
    }

    protected override void OnParametersSet()
    {
        LoadData();
    }

    private void LoadData()
    {
        personen = Global.AppData.Personen.ToList();
        fahrzeuge = Global.AppData.Fahrzeuge.ToList();
        isLoaded = true;
    }

}